/* Calculator stylesheet */

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin: 50px auto 50px auto;
}

header {

}

footer {
  font-size: 12px;
}

.screen {
  display:flex;
  flex-wrap: wrap;
  /*width: 320px;*/
  border-width: 1px 1px 0px 1px;
  border-color: rgb(145, 145, 145);
  border-style: solid;
  color: rgb(240, 240, 240);
}

.screen, .histo, .inpt, .keys {
  width: 280px;
}

.inpt, .btn {
  height: 60px;
}

.btn {
  width: 70px;
}

.zero {
  width: 140px;
}

.screen, .inpt {
  background-color: rgb(57, 86, 116);
  text-align: right;
}

.histo {
  height: 120px;
  border-style: none;
}

.inpt {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 28px;
  border-style: none;
  color: rgb(240, 240, 240);
}

.keys {
  display:flex;
  flex-wrap: wrap;
  border-width: 1px 1px 1px 1px;
  border-color: rgb(145, 145, 145);
  border-style: solid;
}

.btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 28px;
  color: rgb(50, 50, 50);
  margin: 0;
  border-width: 0 1px 1px 0;
  border-color: rgb(145, 145, 145);
  border-style: solid;
}

.option {
  background-color: rgb(220, 220, 220);
}

.oper {
  background-color: orange;
  color: rgb(240, 240, 240);
}

.num, .zero {
  background-color: rgb(240, 240, 240);
}


